<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <style>
    .container{
        background:#F2F2F2;
        padding:20px;
        box-sizing: border-box;
    }

    .content{
        background-color: #FFF;
        padding:30px;
        box-sizing: border-box;
        max-width:900px;
        margin-left:auto;
        margin-right:auto;
        font-family: "Outfit" ,sans-serif;
    }

    .text{
        margin-top:20px;
    }

    .text p{
        font-weight: 400;
        font-size: 1rem;
        line-height:1.5
    }

    .footer{
        border-left:1px solid red;
        padding:20px;
        padding-left:40px;
        box-sizing: border-box;
        margin-top:50px;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="content">
        <img src="{{siteUrl}}/medias/email-top.jpg" style="width:100%;" alt="top email" />
        <div class="text">
            <p>Bonjour {{prenom}},</p>
            <p>La Rencontre Territoire Engagé à laquelle vous vous êtes inscrit.e aura lieu dans 2 semaines et nous sommes impatients de vous y retrouver !</p>
            <p>Cette Rencontre sera une occasion unique de plonger au cœur des enjeux et des solutions liés à la transition écologique de votre territoire et d'échanger avec d’autres collectivités de votre région.</p>
            <p>Voici un récapitulatif des informations importantes :</p>
            <p><strong>Thématique de la Rencontre : {{nomRencontre}}<br />
            Date de la Rencontre : {{dateRencontre}}, {{firstDayStartTime}}<br />
            Durée : {{nbJours}} jour(s)<br />
            Lieu de la Rencontre : {{lieuRencontre}}</strong></p>
            <p>Assurez-vous de bien bloquer cette Rencontre dans votre agenda.<br />En cas de question, vous pouvez contacter le référent de cette rencontre : {{mail_referent}}.</p>
            <p>Si jamais vous ne pouvez plus participer, merci d'annuler au plus vite votre inscription dans votre espace personnel : <a href="{{siteUrl}}">{{siteUrl}}/espace-personnel</a></p>
            <p>Dans votre espace personnel, vous retrouverez également :<br />Toutes les informations pratiques relatives à la Rencontre<br />Des ressources pour vous préparer au mieux aux échanges à venir<br />Un badge à générer vous permettant d’accéder à l’événement le jour J</p>
            <p>Nous sommes impatients de vous retrouver lors de cette Rencontre !</p>
            <p>Bien cordialement,</p>
            <p>L'équipe des Rencontres Territoire Engagé Transition Ecologique</p>
        </div>
        <div class="footer">
            <p style="font-size:1rem;margin:0px !important">
                <span style="color:#274F98;display:block;">En savoir plus sur :</span>
                <a style="text-decoration:none;color:#d13e2a;" href="{{siteUrl}}">{{siteUrl}}</a>
            </p>
        </div>
    </div>
  </div>
</body>
</html>
