<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <style>
    .container{
        background:#F2F2F2;
        padding:20px;
        box-sizing: border-box;
    }

    .content{
        background-color: #FFF;
        padding:30px;
        box-sizing: border-box;
        max-width:900px;
        margin-left:auto;
        margin-right:auto;
        font-family: "Outfit" ,sans-serif;
    }

    .text{
        margin-top:20px;
    }

    .text p{
        font-weight: 400;
        font-size: 1rem;
        line-height:1.5
    }

    .footer{
        border-left:1px solid red;
        padding:20px;
        padding-left:40px;
        box-sizing: border-box;
        margin-top:50px;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="content">
        <img src="{{siteUrl}}/medias/email-top.jpg" style="width:100%;" alt="top email" />
        <div class="text">
            <p>Bonjour {{prenom}},</p>
            <p><strong>Plus que 3 jours</strong> avant votre Rencontre Territoire Engagé Transition Ecologique !</p>
            <p>Voici un récapitulatif des informations importantes :</p>
            <p><strong>Thématique de la Rencontre : {{nomRencontre}}<br />
            Date de la Rencontre : {{dateRencontre}}, {{firstDayStartTime}}<br />
            Durée : {{nbJours}} jour(s)<br />
            Lieu de la Rencontre : {{lieuRencontre}}</strong></p>
            <p>N'oubliez pas que des ressources ont été mises à disposition sur votre <a href="{{siteUrl}}/espace-personnel">Espace personnel</a>, elles vous permettront de vous préparer au mieux pour les échanges à venir.</p>
            <p>Pour information, il est possible que des photos soient prises durant cette Rencontre afin que l’ADEME puisse communiquer sur ces événements.</p>
            <p>Pour toute question supplémentaire, vous pouvez contacter le référent de cette rencontre : {{mail_referent}}.</p>
            <p>Nous sommes impatients de vous y rencontrer !</p>
            <p>Bien cordialement,</p>
            <p>L'équipe des Rencontres Territoire Engagé Transition Ecologique</p>
            <p style="border-top: 1px solid #e0e0e0;padding-top: 20px;color: #a5a5a5;">Merci de ne pas répondre à ce mail. Pour toute question relative à la plateforme, vous pouvez nous contacter à l’adresse mail suivante : rencontres.ademe@i-care-consult.com</p>
        </div>
        <div class="footer">
            <p style="font-size:1rem;margin:0px !important">
                <span style="color:#274F98;display:block;">En savoir plus sur :</span>
                <a style="text-decoration:none;color:#d13e2a;" href="{{siteUrl}}">{{siteUrl}}</a>
            </p>
        </div>
    </div>
  </div>
</body>
</html>
