<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <style>
    .container{
        background:#F2F2F2;
        padding:20px;
        box-sizing: border-box;
    }

    .content{
        background-color: #FFF;
        padding:30px;
        box-sizing: border-box;
        max-width:900px;
        margin-left:auto;
        margin-right:auto;
        font-family: "Outfit" ,sans-serif;
    }

    .text{
        margin-top:20px;
    }

    .text p{
        font-weight: 400;
        font-size: 1rem;
        line-height:1.5
    }

    .footer{
        border-left:1px solid red;
        padding:20px;
        padding-left:40px;
        box-sizing: border-box;
        margin-top:50px;
    }

    @media(max-width:810px){
        .btn{
            margin-top:20px;
            margin-left:0px !important;
            font-weight:600 !important
        }
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="content">
        <img src="{{siteUrl}}/medias/email-top.jpg" style="width:100%;" alt="top email" />
        <div class="text">
            <p>{{prenom}}, bienvenue sur la plateforme des Rencontres Territoire Engagé Transition Ecologique !</p>
            <p>Ces rencontres à destination des chargé.e.s de mission des collectivités sont organisées par l’ADEME dans toute la France.
                Elles permettent de mettre en œuvre la transition écologique sur votre territoire en montant en compétence sur les
                thématiques  Climat, Air, Energie  et  Economie Circulaire .</p>
            <p>Toutes les Rencontres sont gratuites et vous pouvez vous y inscrire directement sur la plateforme.
                Une fois inscrit.e à une Rencontre, vous retrouverez toutes les informations utiles dans votre <a href="{{siteUrl}}/connexion">Espace personnel</a>.</p>
            <p>Retrouvez toutes les Rencontres qui ont lieu dans votre région : <a class="btn" style="color:#FFF;background:#274f98;display:inline-block;border-radius:10px;padding:7px 14px;text-decoration:none;margin-left:5px;font-weight:500" href="{{siteUrl}}/rencontres">Découvrir les rencontres</a></p>
            <p>Vous ne trouvez pas de Rencontre dans votre région ? De nouvelles Rencontres sont organisées régulièrement, n’hésitez pas à
                consulter à nouveau la plateforme dans quelques semaines et à vous renseigner auprès de votre Direction Régionale ADEME !</p>
            <p>À bientôt,</p>
            <p>L’équipe des Rencontres Territoire Engagé Transition Ecologique</p>
        </div>
        <div class="footer">
            <p>
                <span style="color:#274F98;display:block;">En savoir plus sur :</span>
                <a style="text-decoration:none;color:#d13e2a;" href="{{siteUrl}}">{{siteUrl}}</a>
            </p>
        </div>
    </div>
  </div>
</body>
</html>
